.slider img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin-left: 50%;
    margin-top: 30px;
    transform: translate(-50%);
    width: 900px;
    height: 300px;
    box-shadow: rgb(0, 0, 0) 1px 1px 7px 1px;
}

.selecoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.selecoes>figure>a>img{
    margin-top: 480px;
    margin-left: 80px;
    margin-right: 80px;
    box-shadow: black 1px 1px 7px 1px;
    width: 230px;
    height: 170px;
}

.selecoes>figure>img:hover{
   cursor: pointer;
   box-shadow: rgb(0, 185, 122) 1px 1px 4px 1px;
}

.selecoes>figure>figcaption{
    text-align: center;
}

.selecoes>figure>figcaption>a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.selecoes>figure>figcaption>a:hover{
    color: rgb(0, 185, 122);
}
